page-welcome {
#welcome{
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:50px;
        text-align: center;
        color: wheat;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 400px;
    }
    .wel{
        //align-content: center;
        align-right: 203;
    }
    .typ {
        text-align: center;
        color: wheat;
        margin-top:50px;
        margin-bottom :10;
        font-size: 30px;
    }
}
}
